
@model List<Category>

<h1>Category List</h1>


<table class="table table-bordered table-striped">
    <thead>
        <th>Category Name</th>
<th>Display Order</th>
    </thead>    
    <tbody>
        @foreach(var obj in Model.OrderBy(x=>x.DisplayOrder))
        {
            <tr>
               <td>@obj.Name</td>
               <th>@obj.DisplayOrder</th>
            </tr>
            
        }
    </tbody>
</table>